﻿@model cpxdev_crosspointmangement.Model.walletForm;

<form class="mb-5" id="formSearch" autocomplete="off">
    <div class="form-group">
        <label for="wallet">Wallet Address</label>
        <input type="text" class="form-control mt-2 sear" value="@Model.walletCode" id="wallet">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Search</button>
    @{
        if (Model.walletCode != null)
        {
                <a href="/home/TransactionList" class="btn btn-info mt-3">Show All transactions</a>
        }
    }
</form>

@{
    if (Model.walletCode != null)
    {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Wallet Code: @Model.walletCode</h5>
                    <p class="card-subtitle mb-2 text-muted" id="time"></p>
                    <h6 class="card-subtitle mb-2 text-muted">Wallet zone region located at @Model.regionZone</h6>
                    <p class="card-text">Current point: @Model.pointState</p>
                </div>
            </div>
    }
}

<table id="table"
       data-toggle="table"
       data-height="460"
       data-side-pagination="server"
       data-pagination="true">
    <thead class="d-none">
        <tr>
            <th data-formatter="fromFormat" data-width="20" data-width-unit="%"></th>
            <th data-formatter="dataFormat" data-width="70" data-width-unit="%"></th>
            <th data-formatter="toFormat" data-width="20" data-width-unit="%"></th>
        </tr>
    </thead>
</table>

<script>
    sessionStorage.removeItem('cdm')
    $('#time').html('Create wallet in ' + moment.utc('@Model.createdDate').local().format('DD MMMM YYYY HH:mm:ss'))

    $('#table').bootstrapTable({
        url: '/home/TransList?walletCode=' + '@Model.walletCode',
        pagination: false
    })

    function linktowallet(wallet) {
        window.location.href = '/home/TransactionList/' + wallet
    }
    function linktotrans(wallet) {
        window.location.href = '/home/TransactionDetail/' + wallet
    }


    function fromFormat(value, row) {
        if (row.from == null) {
            return '<div class="card">' +
                '<div class="card-body">' +
                '<h5 class="card-title">Third party Wallet</h5>' +
                '<h6 class="card-subtitle mb-2 text-muted">Global</h6>' +
                '</div></div>'
        }
        return '<div class="card">' +
            '<div class="card-body">' +
            '<h5 class="card-title cur" onclick="linktowallet(\'' + row.fromWalletCode + '\')">' + row.fromWalletCode + '</h5>' +
            '<h6 class="card-subtitle mb-2 text-muted">' + row.from.regionZone + '</h6>' +
            '</div></div>'
    }
    function toFormat(value, row) {
        if (row.to == null) {
            return '<div class="card">' +
                '<div class="card-body">' +
                '<h5 class="card-title">Third party Wallet</h5>' +
                '<h6 class="card-subtitle mb-2 text-muted">Global</h6>' +
                '</div></div>'
        }
        return '<div class="card">' +
            '<div class="card-body">' +
            '<h5 class="card-title cur text-right" onclick="linktowallet(\'' + row.toWalletCode + '\')">' + row.toWalletCode + '</h5>' +
            '<h6 class="card-subtitle mb-2 text-muted text-right">' + row.to.regionZone + '</h6>' +
            '</div></div>'
    }
    function dataFormat(value, row) {
        return '<div class="text-center h5">&rarr;&nbsp;' + (row.signed ? 'Verified' : 'Waiting for approval') + '&nbsp;&rarr;</div>' +
            '<div class="text-center card-subtitle text-bold mb-2 text-muted">Point used: ' + row.pointEarn + (row.from != null && row.to != null && row.from.zoneNumber != row.to.zoneNumber ? ' (Excluded fee of ' + row.pointFee + ')' : '') + '</div>' +
            '<div class="text-muted text-center cur" onclick="linktotrans(\'' + row.transactionId + '\')">Tranaction ID: ' + row.transactionId + '</div>' +
            '<p class="card-text text-center">Tranaction created: ' + moment(row.dateChanged).local().format('DD MMMM YYYY HH:mm:ss') + '</p>'
    }
    $("#formSearch").submit(function (e) {
        e.preventDefault();
        if ($('.sear').val() == "") {
            return;
        }
        window.location.href = '/home/TransactionList/' + $('.sear').val();
    });
</script>