﻿@model cpxdev_crosspointmangement.Model.transaction;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
  <div class="card-body">
    <h5 class="card-title h4">Transaction ID @Model.transactionId</h5>
    <h6 class="card-subtitle mb-2 text-muted" id="time"></h6>
        @{
            if (Model.signed == true)
            {
                <span class="badge rounded-pill bg-success">Verified</span>
            } else
            {
                <span class="badge rounded-pill bg-info">Waiting for approval</span>
            }
        }
        @{
            if (@Model.from == null)
            {
                <h6 class="card-text mt-2">Wallet Transfer: Third Party Wallet &rarr; @Model.toWalletCode [@Model.to.regionZone]</h6>
            }
            else if (@Model.to == null)
            {
                <h6 class="card-text mt-2">Wallet Transfer: @Model.fromWalletCode [@Model.from.regionZone] &rarr; Third Party Wallet</h6>
            }
            else
            {
                <h6 class="card-text mt-2">Wallet Transfer: @Model.fromWalletCode [@Model.from.regionZone] &rarr; @Model.toWalletCode [@Model.to.regionZone]</h6>
            }
        }
        @{
            if (Model.from != null && Model.to != null && Model.from.zoneNumber != Model.to.zoneNumber)
            {
                <p class="text-bold mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title="If points are transferred across zones The system will deduct the specified fee points from the number of points you wish to transfer.">Point transfer: @Model.pointEarn (Excluded fee of @Model.pointFee)</p>
            }
            else
            {
                <p class="text-bold mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Transferring points in same Zone will not be fee points">Point transfer: @Model.pointEarn</p>
            }
        }
        <p class="card-text mt-2">Encoded description: @Model.text</p>
  </div>
</div>
<script>
    $('#time').html(moment.utc('@Model.dateChanged').local().format('DD MMMM YYYY HH:mm:ss'))
</script>
